mixin footer()
	footer.main-footer
		.wrapper
			.row
				.main-footer__left.col-xs-12.col-md-10
					p Versión: 1.7 |&nbsp;
						a.main-footer__link(href="#" title="Acerca de esta version") Acerca de esta versión
						| &nbsp;|&nbsp;
						a.main-footer__link(href="#" title="soporte tecnico") Soporte Técnico
				.main-footer__right.col-xs-12.col-md-2
					p © Iberdrola 2016
