/*------------------------------------
    #BODY
-------------------------------------*/

.white{
    background: none;
}
.red{
    background: red;
}
.bronw{
    background: brown;
}
.yellow{
    background: yellow;
}
.green{
    background: green;
}
.blue{
    background: blue;
}
