/*------------------------------------
    #MARGINS
-------------------------------------*/

.mgt0{
    margin-top: 0;
}

.mgt-plus{
    margin-top: rem(6);
}

.mgt-plus-2{
    margin-top: rem(12);
}

.mgb0{
    margin-bottom: 0;
}

.mgb-plus{
    margin-bottom: rem(6);
}

.mgb-plus-2{
    margin-bottom: rem(12);
}