///*------------------------------------
//    #HEADINS
//------------------------------------*/

$wefront-heading-size-1: 24 !default;
$wefront-heading-size-2: 22 !default;
$wefront-heading-size-3: 19 !default;
$wefront-heading-size-4: 15 !default;
$wefront-heading-size-5: 13 !default;
$wefront-heading-size-6: 11 !default;
