/*------------------------------------
    #IMAGE
------------------------------------*/

img {
	max-width 		: 100%;
	font-style 		: italic;
	vertical-align 	: middle;
}
.gm-style img,
img[width],
img[height] {
	max-width 		: none;
}
