/*------------------------------------*\
    #TEXT-TRANSFORM
\*------------------------------------*/

/**
 * Text uppercase.
 */
.u-text-uppercase {
	text-transform: uppercase !important;
}

/**
 * Text align right.
 */
.u-text-lowercase {
	text-transform: lowercase !important;
}

/**
 * Text align center.
 */
.u-text-capitalize {
	text-transform: capitalize !important;
}
